%br

.intro.adaptive-right#note
  %a{href:'#note'}
    = image_tag('note.png')
%br
%br
%h2 for the artist
%br
%h4 your music could be the hit of a popular commerical or new movie!

%br
%br
%br
%br

.intro.adaptive-right#radio
  %a{href:'#radio'}
    = image_tag('radio.png')
%br
%br
%h2 for the advertiser
%br
%h4 find awesome music you can use for free!

%br
%br
%br
%br
%a{href:'/music'}
  .intro.adaptive-right
    = image_tag('sound.png')
  %br
  %br
  %h2 for everyone
  %br
  %h4 listen to and rate music!

%br
%br
%br
%br
%br
-if !current_user
  .soundcloud-connect.center
    = image_tag 'connect-big.png'
%br
%br
%br


.cclicense
  %a{rel:"license", href: "http://creativecommons.org/licenses/by/4.0/"}
    %img{alt:"Creative Commons License",style:"border-width:0", src:"http://i.creativecommons.org/l/by/4.0/88x31.png"}
  %br
  %a{href:"http://advertunes.org"}Advertunes
  by
  %a{href:"http://harrypowers.it"}Harrison Powers
  is licensed under a
  %a{rel:"license", href:"http://creativecommons.org/licenses/by/4.0/"}Creative Commons Attribution 4.0 International License
