%h2 artist
%h4 your music could be the hit of a popular commerical or new movie!

%br

%h2 advertiser
%h4 find awesome music you can use for free!

%br
%h2 how does it work
%h4 advertunes is a music licensing platform for indie artists to get their music out in the world. advertisers can search through user curated, pre-licensed music for their ads.

%br
%br

%center
  %h2
    coming soon!

%br
%br


.cclicense
  %a{rel:"license", href: "http://creativecommons.org/licenses/by/4.0/"}
    %img{alt:"Creative Commons License",style:"border-width:0", src:"http://i.creativecommons.org/l/by/4.0/88x31.png"}
  %br
  %a{href:"http://advertunes.org"}Advertunes
  by
  %a{href:"http://harrypowers.it"}Harrison Powers
  is licensed under a
  %a{rel:"license", href:"http://creativecommons.org/licenses/by/4.0/"}Creative Commons Attribution 4.0 International License
