@import "http://fonts.googleapis.com/css?family=Alegreya+Sans|Nixie+One"

body
  font-family: "Nixie One", sans-serif

h1
  font-size: 80px
  font-family: 'Alegreya Sans', cursive
h2
  font-size: 40px
h3
  line-height: 1.5
  font-size: 30px
h4
  font-size: 20px
h5
  font-size: 10px

#container
  color: #7F8C8D
  margin: 20px 50px 0 50px

#header
  background: #7F8C8D
  color: #EDF0F1
  width: 100%
  padding: 30px 0
  text-align: center

#content

.cclicense
  margin: 0 auto
  text-align: center
  font-size: 15px
  color: #4C77B4
  width: 420px

  img
    border: 0

  a
    color: #4C77B4
    text-decoration: none
    &:active
      color: #4C77B4
      text-decoration: none
    &:visited
      color: #4C77B4
      text-decoration: none
    &:hover
      color: #4C77B4
      text-decoration: underline
