@import "http://fonts.googleapis.com/css?family=Fascinate+Inline|Nixie+One"

body
	font-family: 'Nixie One', sans-serif

h1
	font-size: 60px
	font-family: 'Fascinate Inline', sans-serif
	@media screen and (max-width: 640px)
		font-size: 45px
h2
	font-size: 40px
	@media screen and (max-width: 640px)
		text-align: center
h3
	line-height: 1.5
	font-size: 30px
	@media screen and (max-width: 640px)
		font-size: 20px
h4
	font-size: 20px
	@media screen and (max-width: 640px)
		text-align: center
h5
	font-size: 10px

input
	width: 275px
	height: 50px
	background: #EDEDED
	border: 1px solid #818C9A
	padding: 0 15px
	color: #818C9A
	font-size: 30px
	font-family: 'Nixie One', sans-serif
	@media screen and (max-width: 640px)
		width: 200px

input[type=submit]
	font-family: 'Nixie One', sans-serif
	width: 120px
	height: 52px
	padding: 0 0 5px 0
	color: #818C9A
	background: #E1E1E1
	border: 1px solid #818C9A
	position: relative
	top: -3px
	&:hover
		color: #FFFFFF
	@media screen and (max-width: 640px)
		margin: 20px 0 0 0
		width: 170px

#container
	color: #7F8C8D
	margin: 20px auto 0 auto
	padding: 0 20px
	max-width: 720px
	@media screen and (max-width: 640px)
		margin: 20px 20px 0 20px
	a
		color: #7F8C8D
		text-decoration: none
		&:hover
			color: #7F8C8D
			text-decoration: none
		&:active
			color: #7F8C8D
			text-decoration: none
			font-weight: bold
		&:visited
			color: #7F8C8D
			text-decoration: none
#header
	background: #7F8C8D
	color: #EDF0F1
	width: 100%
	padding: 40px 0
	text-align: center
	a
		color: #EDF0F1
		text-decoration: none
		&:hover
			color: #EDF0F1
			text-decoration: none
		&:active
			color: #EDF0F1
			text-decoration: none
			font-weight: bold
		&:visited
			color: #EDF0F1
			text-decoration: none

#super-header
	@extend #header
	margin: 0 0 0 0
	padding: 10px 0
	text-align: right
	a
		margin: 0 12px

.soundcloud-connect
	margin: 0 0 0 20px
	&:hover
		cursor: pointer

#listen-button
	float: left
#contribute-button
	float: left


.intro
	img
		width: 150px
		height: 150px
		opacity: .6
.adaptive-right
	float: right
	@media screen and (max-width: 640px)
		float: none
		text-align: center

.adaptive-left
	float: left
	@media screen and (max-width: 640px)
		float: none
		text-align: center

.right
	float: right
.left
	float: left
.center
	text-align: center

.off
	background: url("off.png")
	width: 100px
	height: 40px
	background-size: 100%
	margin: 0 10px 0 0
.on
	background: url("on.png")
	width: 100px
	height: 40px
	background-size: 100%
	margin: 0 10px 0 0

.bottom
	@media screen and (max-width: 640px)
		position: relative
		left: -27px

.cclicense
	margin: 0 auto
	text-align: center
	font-size: 15px
	color: #4C77B4
	width: 420px
	@media screen and (max-width: 640px)
		width: 100%

	img
		border: 0

	a
		color: #4C77B4
		text-decoration: none
		&:active
			color: #4C77B4
			text-decoration: none
		&:visited
			color: #4C77B4
			text-decoration: none
		&:hover
			color: #4C77B4
			text-decoration: underline
